<!-- Contact Section -->
<!--<span class="fa-stack fa-4x"> -->
<!--    <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
<!--    <i class="fa fa-{{ service.icon }} fa-stack-1x fa-inverse"></i> -->
</span>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contatti</h2>
                <h3 class="section-subheading text-muted">Sono disponibile per lezioni e valuto proposte di collaborazione.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                Per lezioni mi trovi presso l'<a href="https://www.accademiacrepaldi.it/" target='_blank'>Accademia Musicale Crepaldi</a> (<a href="mailto:info@accademiacrepaldi.it" target='_blank' title="Email">info@accademiacrepaldi.it</a> tel:<a href="tel:02 23052387">02 23052387</a> cell:<a href="tel:+39 391 3720148">391 3720148</a>) o nel mio studio privato a Bresso(MI)
                <br><br>
                <div class="map-responsive">
                    <iframe
                        width="600"
                        height="450"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyASxIpWZoFk3ovJ-CA4uu3HBb8vI-DZPiI
                            &q=Via+Vittorio+Veneto%2C+9%2C+20091+Bresso+MI" >
                    </iframe>
                </div>
            </div>
            <div class="col-md-6">
                  <div class="row text-center contact-group">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x"></i>
                        </span>
                        <h4 class="service-heading"><a href="mailto:enrico.porazzi@gmail.com" target='_blank' title="Email">enrico.porazzi@gmail.com</a></h4>
                    </div>
                    <div class="row text-center contact-group">
                          <span class="fa-stack fa-4x">
                              <i class="fa fa-stack-2x"></i>
                              <i class="fa fa-phone fa-stack-1x"></i>
                          </span>
                          <h4 class="service-heading"><a href="tel:+39 338 313 1825">+39 338 313 1825</a></h4>
                      </div>
            </div>
        </div>

      </div>
</section>
