<!-- curriculum Section -->
<section id="curriculum" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Chi sono</h2>
                <h3 class="section-subheading text-muted"> </h3>
            </div>
        </div>
        <div class="row">
          {% for member in site.data.team %}
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="/assets/img/team/{{ member.photo }}" class="img-responsive img-circle" alt="{{ member.name }}">
                    <h4>{{ member.name }}</h4>
                    <p class="text-muted">{{ member.bio }}</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.youtube.com/user/{{ member.youtube }}" target='_blank'><i class="fab fa-youtube"></i></a></li>
                        <li><a href="https://www.facebook.com/{{ member.facebook }}" target='_blank'><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/{{ member.instagram }}" target='_blank'><i class="fab fa-instagram"></i></a></li>
                        <li><a href="mailto:{{ member.email }}" target='_blank' title="Email"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="col-sm-8">
                    <h4 class="service-heading">Studi</h4>                            
                        Ho iniziato a suonare la chitarra da bambino, prima con un corso collettivo all'oratorio poi prendendo lezioni di chitarra<br>
                        classica.<br>
                        Alle superiori ho cominciato a suonare da autodidatta la chitarra elettrica.<br>
                        Nel 2000 ho studiato con Donato Begotti al CPM di Milano.<br>
                        Dal 2001 al 2003 ho frequentato l'NCDM con Alessandro De Gasperi.<br>
                        Dal 2003 ho studiato con Roberto Cecchetto alla Civica di Desio, dove nel 2006 ho vinto la borsa di studio per la sezione
                        Jazz e nel 2007 mi sono diplomato in chitarra jazz con la votazione di 100 e lode.<br>
                        Dal 2010 al 2013 ho ripreso gli studi di chitarra rock con Donato Begotti presso la RGA sotto forma di lezione privata.<br>
                        Dal 2013 al 2016 ho studiato chitarra finger stile con Roberto Arzuffi.<br>
                        <br><br>
                    <h4 class="service-heading">Insegnamento</h4>
                        Ho lavorato nelle seguenti strutture come insegnante di chitarra:<br>
                        Dal 2004 al 2006 - “l’Albero dell’Arte” (CAG di via Lammennais - Milano).<br>
                        Dal 2006 al 2015 - “Le Note” di Agrate Brianza.<br>
                        Dal 2006 al 2007 - Scuole elementari dell’istituto Confalonieri di Milano per l’associazione “Musicaingioco”.<br>
                        Dal 2007 al 2018 - “Mousikè” di Muggiò.<br>
                        Dal 2009 al 2011 - Civica Scuola di Musica di Cernusco sul Naviglio.<br>
                        Dal 2011 al 2013 - “Fondazione Nuova Musica – Scuole Ricordi” nella sede di Cernusco sul Naviglio.<br>
                        Dal 2013 al 2018 - “Milano Natura” di piazza Napoli.<br>
                        Dal 2014 al 2017 sono stato direttore artistico della scuola “Mousikè” di Muggiò.<br>
                        Nel 2016 ho aperto l'Accademia Musicale Crepaldi in società con Gabriele Magosso, Andrea Crepaldi e Fabrizio Ferrara.<br>
                        <br><br>
                    <h4 class="service-heading">Collaborazioni</h4>
                        I progetti con cui negli anni ho lavorato di più e/o fatto le cose più rilevanti:<br>
                        Dal 2002 al 2006 - Mo'no cover band<br>
                        Dal 2006 al 2008 - Wheel's strings duo folk acustico<br>
                        Dal 2007 al 2009 - Trio Carbonara (standard jazz)<br>
                        Dal 2008 al 2010 - Rejoice Gospel Choir di Gianluca Sambataro (live e rec cd “ALL AROUND”)<br>
                        Nel 2009 e 2010 - Roy Young Tour (tra le manifestazioni più importanti: Festival “Blues & Soul” di Sestri Levante, Festival “Blues in Idro”, Pordenone Blues Festival e Aosta Blues & Soul Festival)<br>
                        Dal 2009 al 2011 - Swat tributo ai Police<br>
                        Dal 2011 ad oggi - OTP trio (cover acustiche per convention e matrimoni)<br>
                        Dal 2011 al 2014 - Rufus Band party band di Bruno Piazza<br>
                        Dal 2012 - R'n'Beer duo acustico con Francesca Tosarello<br>
                        Dal 2013 al 2015 - Chocaparty party band<br>
                        Dal 2013 al 2014 - Clara Moroni (chitarrista acustico nei live e nei seminari)<br>
                        Nel 2014 e 2015 - Ylenia Lucisano - Piccolo Universo Tour (Concerto del 1°Maggio a Roma, Ravello Festival, Kaulonia Festival, aperture per Francesco DeGregori e Roby Facchinetti).<br>
                        Dal 2015 - <a href='https://www.facebook.com/jazztagband' target='_blank'>Jazztag</a> (cover arrangiate jazz)<br>
                    </div>
            </div>
          {% endfor %}

        </div>
    </div>
</section>
