<!-- Hero -->
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Lezioni di chitarra</div>
            <div class="intro-lead-in" style="text-align:center">Per raggiungere degli obiettivi è importante metterli a fuoco da subito.</div>
            <div class="intro-lead-in" style="text-align:center">Penso che un insegnante capace debba aiutare ogni allievo a diventare un musicista realizzato, grazie allo sviluppo di un percorso personale che rispetti le sue attitudini e le sue ambizioni.</div>
            <!--<a href="#lections" class="page-scroll btn btn-xl">Lezioni</a>-->
        </div>
    </div>
</header>
